#app {
  position: relative;
  overflow: hidden;
}

html[data-theme="brightMode"] {
  --color-body: #fff;
  --color-text: #2b2b2b;
  // Fixed
  .fix-item {
    button {
      background-color: #fff;
      -webkit-box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0, 0, 0, 0.15);
      span {
        color: #2b2b2b;
      }
    }
  }
}
html[data-theme="darkMode"] {
  --color-body: #2b2b2b;
  --color-text: #fff;
  // Fixed
  .fix-item {
    button {
      background-color: #2b2b2b;
      -webkit-box-shadow: 0 0 0 1px #515254, 0 3px 6px 0 rgba(0, 0, 0, 0.08);
      box-shadow: 0 0 0 1px #515254, 0 3px 6px 0 rgba(0, 0, 0, 0.08);
      span {
        color: #d9dbdf;
      }
    }
  }
}
body {
  background-color: var(--color-body);
  color: var(--color-text);
}
.logo {
  width: 200px;
  height: 100px;
  transition: background 0.3s ease, color 0.3s ease;
}
