#app {
  position: relative;
  overflow: hidden;
}

html[data-theme="blightMode"] {
  --color-body: #fff;
  --color-text: #2b2b2b;
  .logo {
    background: url("./assets/logo_white.png") no-repeat 0 0 / 100% auto;
  }
  // Fixed
  .fix-item {
    button {
      background-color: #fff;
      -webkit-box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0, 0, 0, 0.15);
      span {
        color: #2b2b2b;
      }
    }
  }
}
html[data-theme="darkMode"] {
  --color-body: #2b2b2b;
  --color-text: #fff;
  .logo {
    background: url("./assets/logo_black.png") no-repeat 0 0 / 100% auto;
  }

  // Fixed
  .fix-item {
    button {
      background-color: #2b2b2b;
      -webkit-box-shadow: 0 0 0 1px #515254, 0 3px 6px 0 rgba(0, 0, 0, 0.08);
      box-shadow: 0 0 0 1px #515254, 0 3px 6px 0 rgba(0, 0, 0, 0.08);
      span {
        color: #d9dbdf;
      }
    }
  }
}

body {
  background-color: var(--color-body);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logo {
  width: 200px;
  height: 100px;
  transition: background 0.3s ease, color 0.3s ease;
}

// Fixed
.fix-item {
  position: fixed;
  right: 5%;
  bottom: 5%;
  button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #b0b1b3;
    vertical-align: top;
    span {
      padding: 3px 0 0 0;
    }
    cursor: pointer;
  }
  .mode-btn {
    margin-left: 15px;
  }
}
