section {
  position: relative;
  overflow: hidden;
  margin: 0 10px;
  padding: 20px 0;
  .genre-slider-wrap {
    position: relative;
    .genre__slider {
      position: relative;
      display: flex;
      li {
        flex: 0 0 auto;
        margin-right: 5px;
      }
      img {
        border-radius: 5px;
      }
    }
  }
  h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
}
